.footer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10rem;
  height: 50vh;
  background-image: linear-gradient(
      to top,
      rgba(rgb(21, 22, 22), 0.8),
      rgba(rgb(117, 112, 112), 0.8)
    ),
    url(../../img/header.jpeg);

  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  color: $main-color;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__social {
    font-size: 4rem;
    margin-bottom: 5rem;
    .pointer{
      display: block;
    }
    .drow:hover &--list{
      opacity: 1;
   

    }
   
    &--header{
      margin-bottom: 2rem;

    }
    &--list{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 2rem 0rem;
      opacity: 0;
      li{
        
      }
   
    

    }

   
  }
  &__legal {
    display: block;
   margin: auto;
   padding-top: 5rem;
    font-size: 3rem;
  
    
   
  }
}
