.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(rgb(21, 22, 22), 0.8),
      rgba(rgb(117, 112, 112), 0.8)
    ),
    url(../../img/header.jpeg);
  background-size: cover;
  background-position: top;
  height: 85vh;
  font-size: 1.8rem;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  color: $main-color;



  .navigation {
   
    font-size: 2rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    @include hamburger { 
        font-size: 3rem;
        flex-direction: column-reverse;
        &--checkbox:checked ~ .navigation--menu {
            opacity: 3;
            display: flex;
            flex-direction: column;
         
            
        }
       
      }
      &--checkbox {
          display: none;
      position: absolute;
      font-size: 8rem;
      top: 5rem;
      right: 5rem;
    }

      
    &--menu {
        @include hamburger { 
          top: 10rem;
          position:absolute;
          width:100%;
          background: black transparent;
       
          display:none;
          
          height: 50vh;
          &--list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            text-align: center;
          }
          
          }
      
      &--list {
        display: flex;
        flex-direction: c;
        justify-content: space-between;
      
    
        &__item {
          margin: 2rem 3rem;
          &:hover{
              background-color: rgb(46, 44, 44);
          }
        }
      }
    }
    &--user{
        @include hamburger{
            margin-top: 2rem;
        }
        margin-right: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

            &__photo {
                height: 3.75rem;
                border-radius: 50%;
                margin-right: 1rem;
             }
             &__name {

                font-size: 3rem;
                
             }
            
        }
       
       
     &--button{
         font-size: 3.4rem;
         position: absolute;
         top: 5rem;
         right: 5rem;
         display: none;
         @include hamburger { 
          display: block;
        }
        
     }

  }
}
