/*DROOP ANIMATION*/

@keyframes eye-focus {
    0% {
      filter: blur(0);
    }
    100% {
      filter: blur(1rem);
    }
  }
  @keyframes focus-shift {
    0% {
      transform: scale(1)
    }
    100% {
      transform: scale(1.2)
    }
  }


 // SEMERGION EFFECTS

@keyframes slow-onset {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
 // MOVE EFFECTS
@keyframes rightSide {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes leftSide {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
