/*DROOP ANIMATION*/

@keyframes eye-focus {
    0% {
      filter: blur(0);
    }
    100% {
      filter: blur(1rem);
    }
  }
  @keyframes focus-shift {
    0% {
      transform: scale(1)
    }
    100% {
      transform: scale(1.2)
    }
  }


 