/*DROOP ANIMATION*/

@keyframes eye-focus {
    0% {
      -webkit-filter: blur(0);
    }
    100% {
      -webkit-filter: blur(10px);
    }
  }
  @keyframes focus-shift {
    0% {
      transform: scale(1)
    }
    100% {
      transform: scale(1.5)
    }
  }