@mixin size($device) {
    @if $device== phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $device == tab-ver {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $device == tab-hor {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $device == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}
@mixin hamburger() {

    @media only screen and (max-width: 75em) { @content }; 
   
}


// MIXIN FOR DROP EFFECT
@mixin drop-effect() {

    content: '';
    width: 100%;
    height: 100%;
    display: block;
      top: 0;
      left: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  
    background-image: linear-gradient(
        to bottom,
        rgba(rgb(21, 22, 22), 0.8),
        rgba(rgb(117, 112, 112), 0.8)
      ),
      url(../../img/dr3.jpg);
    filter: blur(0);
    animation: eye-focus 6s ease-in infinite 6s alternate, 
      focus-shift 6s ease-in infinite alternate;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
   
}

