*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    color: $main-color;  
    list-style: none;

}
html{
    font-size:  62.5%;
    text-decoration: none; 
    text-align: center;
    
    @include size(phone) { 
        font-size: 75%; 
        color: yellowgreen;
    }
    @include size(tab-hor) { 
        font-size: 56.25%; 
    }

    @include size(tab-ver) {
        font-size: 60%;
    }
    
    @include size(big-desktop) {
        font-size: 65%; 
    } 
    @include hamburger{
        .navigation{
            font-size: 3rem;
        }
    }
     
}
body{
    padding: 3rem;
}

.container{
    background-color: rgb(99, 95, 95);
  
}

