*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: $main-color;
  list-style: none;
}
html {
  font-size: 62.5%;
  text-decoration: none;
  text-align: center;

  @include hamburger {
    .navigation {
      font-size: 3rem;
    }
  }
}
body {
  margin: 3rem;
  @include hamburger {
    margin: 0;
  }
}

.container {
  background-color: rgb(99, 95, 95);
}
